:root {
  --color-primary-50: #fdf2f8;
  --color-primary-100: #fce7f3;
  --color-primary-200: #fbcfe8;
  --color-primary-300: #f9a8d4;
  --color-primary-400: #f472b6;
  --color-primary-500: #ec4899;
  --color-primary-600: #db2777;
  --color-primary-700: #be185d;
  --color-primary-800: #9d174d;
  --color-primary-900: #831843;
  --color-secondary-50: #f0fdf4;
  --color-secondary-100: #dcfce7;
  --color-secondary-200: #bbf7d0;
  --color-secondary-300: #86efac;
  --color-secondary-400: #4ade80;
  --color-secondary-500: #22c55e;
  --color-secondary-600: #16a34a;
  --color-secondary-700: #15803d;
  --color-secondary-800: #166534;
  --color-secondary-900: #14532d;
  --color-accent-50: #faf5ff;
  --color-accent-100: #f3e8ff;
  --color-accent-200: #e9d5ff;
  --color-accent-300: #d8b4fe;
  --color-accent-400: #c084fc;
  --color-accent-500: #a855f7;
  --color-accent-600: #9333ea;
  --color-accent-700: #7e22ce;
  --color-accent-800: #6b21a8;
  --color-accent-900: #581c87;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-success: var(--color-secondary-500);
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-info: #3b82f6;
  --color-text-primary: var(--color-gray-900);
  --color-text-secondary: var(--color-gray-700);
  --color-text-tertiary: var(--color-gray-500);
  --color-text-on-primary: #fff;
  --color-text-on-secondary: #fff;
  --color-text-on-accent: #fff;
  --color-bg-light: var(--color-gray-50);
  --color-bg-dark: var(--color-gray-900);
  --color-bg-primary: var(--color-primary-50);
  --color-bg-secondary: var(--color-secondary-50);
  --color-bg-accent: var(--color-accent-50);
  --color-border-light: var(--color-gray-200);
  --color-border-dark: var(--color-gray-600);
  --color-border-primary: var(--color-primary-300);
  --color-border-secondary: var(--color-secondary-300);
  --gradient-primary: linear-gradient(
    135deg,
    var(--color-primary-400),
    var(--color-primary-600)
  );
  --gradient-secondary: linear-gradient(
    to right,
    var(--color-secondary-400),
    var(--color-secondary-600)
  );
  --gradient-accent: linear-gradient(
    45deg,
    var(--color-accent-400),
    var(--color-primary-700)
  );
}
